{
  "Stuns": [
    {
      "Proto": "udp",
      "URI": "stun:{{ ns1_public_ip }}:3478",
      "Username": "",
      "Password": null
    }
  ],
  "TURNConfig": {
    "Timeouts": {
      "HealthCheckInterval": 60,
      "HealthCheckTimeout": 5
    },
    "Turns": [
      {
        "Proto": "udp",
        "URI": "turn:{{ ns1_public_ip }}:3478",
        "Username": "netbird",
        "Password": "{{ netbird_turn_password }}"
      }
    ],
    "CredentialsTTL": "12h",
    "Secret": "{{ netbird_turn_secret }}"
  },
  "Signal": {
    "Proto": "https",
    "URI": "{{ netbird_management_url }}:443",
    "Username": "",
    "Password": null
  },
  "ReverseProxy": {
    "TrustedHTTPProxies": [],
    "TrustedHTTPProxiesCount": 0,
    "TrustedPeers": ["0.0.0.0/0"]
  }
}
