{
  "Stuns": [
    {
      "Proto": "udp",
      "URI": "stun:{{ ansible_default_ipv4.address }}:3478",
      "Username": "",
      "Password": null
    }
  ],
  "TURNConfig": {
    "Turns": [
      {
        "Proto": "udp",
        "URI": "turn:{{ ansible_default_ipv4.address }}:3478",
        "Username": "netbird",
        "Password": "{{ netbird_coturn_secret }}"
      }
    ],
    "CredentialsTTL": "12h",
    "Secret": "{{ netbird_coturn_secret }}",
    "TimeBasedCredentials": false
  },
  "Signal": {
    "Proto": "http",
    "URI": "{{ ansible_default_ipv4.address }}:{{ netbird_signal_port }}",
    "Username": "",
    "Password": null
  },
  "Datadir": "",
  "DataStoreEncryptionKey": "{{ netbird_datastore_encryption_key }}",
  "StoreConfig": {
    "Engine": "sqlite"
  },
  "IdpManagerConfig": {
    "ManagerType": "none"
  },
  "EmbeddedIdP": {
    "Enabled": true,
    "Issuer": "https://{{ netbird_dashboard_domain }}/oauth2",
    "DataDir": "/var/lib/netbird/idp"
  },
  "DeviceAuthorizationFlow": {
    "Provider": "hosted",
    "ProviderConfig": {
      "ClientID": "netbird-client",
      "ClientSecret": "",
      "Domain": "{{ netbird_dashboard_domain }}",
      "Audience": "{{ netbird_dashboard_domain }}"
    }
  }
}
