[Unit]
Description=Daily restic backup timer for {{ inventory_hostname }}.{{ platform_domain }}

[Timer]
OnCalendar={{ backup_schedule }}
RandomizedDelaySec=10min
Persistent=true

[Install]
WantedBy=timers.target
